*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfcfcf;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nameOfTheStars {
  color: rgb(29, 29, 80);
}

.imageNightSky {
  width: 60vw;
  height: 60vh;
  padding: 20px;

}

.textExplanation{
  display: inline-block;
  padding: 0.6em;
  min-width: 5ch;
  border-radius: 1.1em;
  color: rgb(29, 29, 80);
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  text-justify: inter-word;
  font-size: 1.4em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
